= content_for :title, "#{@event.partner_one} & #{@event.partner_two} Wedding - #{@event.formatted_time}"

.box.box--mint
  .row
    .column.small-12
      %h1
        = @event.partner_one
        %span.font--pacifico &
        = @event.partner_two
.row
  .column.small-12
    %h5 Get married on
    %h3= @event.formatted_time

#location.inverted.paralax{ :style => "background-image: url('#{@primary_venue_photo}');" }
  .row
    .column.small-12
      %br
      %br
      %br

      %h2= "at the beautiful #{@event.venue_name}"
      %h4= "in #{@event.venue_address_city}, #{@event.venue_address_state}"

      %br
      %br
      %br

      - if @event.show_rsvp?
        = link_to raw("<span class='icon icon-pencil'></span> RSVP now"), "#rsvp", class: "button large js-scroll-to"

- if @event.show_rsvp?
  %br

  #rsvp.row{ng: { controller: "RsvpController" }}
    .column.small-12
      %h5 RSVP
      = simple_form_for rsvp_event_groups_path(@event) do |f|
        %h3 Step one - enter your name
        .row
          .column.small-12.column.medium-6.medium-offset-3
            = f.input :guest, collection: @groups, as: :select, placeholder: "Select your name(s)"
        %br

      .row
        .column.small-12.medium-6{ "ng-repeat" => "guest in group" }
          .card
            %h3 {{ guestName(guest) }}
            %input{type: "text", placeholder: "enter guest name", ng: { show: "guest.is_guest", model: "newGuest.name" }}
            %p {{ rsvpStatus(guest) }}
            %span.button{ng: { show: "guest.rsvp == null && !guest.is_guest", click: "setRsvp(guest, false)"}} Sorry I can not attend
            %span.button{ng: { hide: "guest.is_guest || guest.rsvp", click: "setRsvp(guest, true)"}} {{ rsvpButtonText(guest) }}
            %span.button{ng: { show: "guest.rsvp", click: "setRsvp(guest, false)"}} Sorry I can no longer make it
            %span.button{ng: { show: "guest.is_guest", disabled: "newGuest.name == ''", click: "defineGuest(guest)"}} {{ rsvpButtonText(guest) }}

            .reset{ng: {show: "guest.rsvp && guest.invited_to_ceremony"}}
              %label
                %input{type: "checkbox", ng: {change: "toggleVegetarian(guest)", model: "guest.vegetarian"}}
                Vegetarian

.box.box--mint
  .row
    .column.small-12
      %h5 Venue

  .row-fluid.overflow
    %ul.small-block-grid-3
      - @venue_photos.first(3).each do |venue_photo|
        %li= image_tag venue_photo.file_url

  .row
    .column.small-12
      #venue-copy
        %h3= @event.venue_name
        = raw(@event.venue_body.from_markdown_to_html)
        %br
        %h4 Directions
        = raw(@event.venue_directions.from_markdown_to_html)
        %br
        .map--overlay{onclick: "style.pointerEvents='none'"}
        :plain
          <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
          <div class="map wpgmappity_container" id="wpgmappitymap"></div>
          <script type="text/javascript">
          (function(){
          function wpgmappity_maps_loaded() {
          var latlng = new google.maps.LatLng(40.8116724,-91.1035352);
          var options = {
           center : latlng,
           mapTypeId: google.maps.MapTypeId.ROADMAP,
           zoomControl : true,
           zoomControlOptions :
           {
           style: google.maps.ZoomControlStyle.SMALL,
           position: google.maps.ControlPosition.TOP_LEFT
           },
           mapTypeControl : false,
           scaleControl : false,
           streetViewControl : false,
           panControl : false, zoom : 15
          };
          
          var wpgmappitymap = new google.maps.Map(document.getElementById('wpgmappitymap'), options);
          
          var point0 = new google.maps.LatLng(40.8138443,-91.1042089);
          var marker0= new google.maps.Marker({
           position : point0,
           map : wpgmappitymap
           });
          google.maps.event.addListener(marker0,'click',
           function() {
           var infowindow = new google.maps.InfoWindow(
           {content: '<h3 class="font-book-antiqua">Christ Episcopal Church</h3>'});
           infowindow.open(wpgmappitymap,marker0);
           });
           
          var point1 = new google.maps.LatLng(40.8089482,-91.0998595);
          var marker1= new google.maps.Marker({
           position : point1,
           map : wpgmappitymap
           });
          google.maps.event.addListener(marker1,'click',
           function() {
           var infowindow = new google.maps.InfoWindow(
           {content: '<h3 class="font-book-antiqua">Burlington Memorial Auditorium</h3>'});
           infowindow.open(wpgmappitymap,marker1);
           });
           
          var point2 = new google.maps.LatLng(40.8207608,-91.1424066);
          var marker2= new google.maps.Marker({
           position : point2,
           map : wpgmappitymap
           });
          google.maps.event.addListener(marker2,'click',
           function() {
           var infowindow = new google.maps.InfoWindow(
           {content: '<h3 class="font-book-antiqua">Fairfield Inn</h3>'});
           infowindow.open(wpgmappitymap,marker2);
           });
           
          var point3 = new google.maps.LatLng(40.8252948,-91.1428216);
          var marker3= new google.maps.Marker({
           position : point3,
           map : wpgmappitymap
           });
          google.maps.event.addListener(marker3,'click',
           function() {
           var infowindow = new google.maps.InfoWindow(
           {content: '<h3 class="font-book-antiqua">Holiday Inn</h3>'});
           infowindow.open(wpgmappitymap,marker3);
           });
           
          var point4 = new google.maps.LatLng(40.7901509,-91.144632);
          var marker4= new google.maps.Marker({
           position : point4,
           map : wpgmappitymap
           });
          google.maps.event.addListener(marker4,'click',
           function() {
           var infowindow = new google.maps.InfoWindow(
           {content: '<h3 class="font-book-antiqua">Comfort Suites</h3>'});
           infowindow.open(wpgmappitymap,marker4);
           });
          }
          window.onload = function() {
           wpgmappity_maps_loaded();
          };
          })()
          </script>

  %br

  #ballons
    #balloon01{data: {top: {bottom: "top: -150px"}, bottom: {center: "top: 200px"}}}
    #balloon02{data: {top: {bottom: "top: -200px"}, bottom: {center: "top: 350px"}}}
    #balloon03{data: {top: {bottom: "top: -50px"}, bottom: {center: "top: 230px"}}}
  #bridge
    #couple

- @event.sections.each do |section|
  %section
    .row
      .column.small-12.medium-8.medium-offset-2
        %h5= section.title
        = raw(section.content.from_markdown_to_html)


%br

.row
  .column.small-12.medium-8.medium-offset-2
    %h5 Photos

- if @event.show_photos?(params)
  = render partial: "photos/form"
  = render partial: "photos/index"
  #modalDropImages.reveal-modal{"data-reveal" => "", :style => "display: block;"}
    %h2.text--salmon Drop images to upload
- else
  .row
    .column.small-12
      %p We invite you back to this website after the wedding to view and upload photos

%br

%footer
  %p
    %small
      This website was built by Luke Klinker. If you want to check it out, it's
      %a{:href => "http://github.com/klinker24/wedding-on-rails", :target => "_blank", :style => "target-new: tab;"} open source
      and built with Ruby on Rails.

